@font-face {
  font-family: "MinotaurSans-Light";
  font-weight: lighter;
  src: url("/static/assets/fonts/MinotaurSans-Light.ttf?") format("ttf");
}
@font-face {
  font-family: "MinotaurSans-Regular";
  src: url("/static/assets/fonts/MinotaurSans-Regular.ttf?") format("ttf");
}
@font-face {
  font-family: "ProtoGrotesk";
  src: url("/static/assets/fonts/ProtoGrotesk-Regular.otf") format("otf");
}
@font-face {
  font-family: "ProtoGrotesk-Bold";
  font-weight: bold;
  src: url("/static/assets/fonts/ProtoGrotesk-Bold.otf") format("otf");
}
